<mat-card
  class="p-4 shadow-lg rounded-xl transition-shadow hover:shadow-xl bg-white"
>
  <div class="flex">
    <!-- IMAGE RONDE À GAUCHE -->
    <div class="flex-shrink-0 mr-6 flex flex-col items-center">
      <img
        [src]="item.photo"
        class="w-28 h-28 object-cover rounded-full border border-gray-300 shadow-sm"
        alt="Profile"
      />

      <!-- NOM SOUS L'IMAGE -->
      <button
        mat-button
        (click)="openBirthdayDetails(item)"
        class="mt-2 text-black font-bold hover:underline text-center px-0"
      >
        {{ item.name }}
      </button>

      <div
        class="flex justify-between items-center"
      >
        <span class="flex items-center text-gray-600">
          <mat-icon class="mr-1 text-base">info</mat-icon>
          {{ "birthday_card.status" | transloco }} :
        </span>
        <span
          class="font-medium flex items-center gap-1"
          [ngClass]="getBirthdayStatus(item.date).color"
        >
          <mat-icon class="text-base">{{
            getBirthdayStatus(item.date).icon
          }}</mat-icon>
          {{ getBirthdayStatus(item.date).text }}
        </span>
      </div>
    </div>

    <!-- CONTENU À DROITE -->
    <div class="flex flex-col flex-1 justify-between">
      <!-- INFOS -->
      <mat-card-content class="text-sm text-black space-y-2 leading-snug">
        <div class="flex justify-between items-center">
          <span class="flex items-center text-gray-600">
            <mat-icon class="mr-1 text-base">location_on</mat-icon>
            {{ "birthday_card.city" | transloco }}:
          </span>
          <span class="font-medium">{{ item.city }}</span>
        </div>

        <div class="flex justify-between items-center">
          <span class="flex items-center text-gray-600">
            <mat-icon class="mr-1 text-base">category</mat-icon>
            {{ "birthday_card.category" | transloco }}:
          </span>
          <span class="font-medium">{{ item.category }}</span>
        </div>

        <div class="flex justify-between items-center">
          <span class="flex items-center text-gray-600">
            <mat-icon class="mr-1 text-base">event</mat-icon>
            {{ "birthday_card.date" | transloco }}:
          </span>
          <span class="font-medium">{{ item.date | date : "dd.MM.yyyy" }}</span>
        </div>

        <div class="flex justify-between items-center">
          <span class="flex items-center text-gray-600">
            <mat-icon class="mr-1 text-base">cake</mat-icon>
            {{ "birthday_card.age" | transloco }}:
          </span>
          <span class="font-semibold text-yellow-600">
            {{ calculateAge(item.date) }}
            {{ "birthday_card.years" | transloco }}
          </span>
        </div>
      </mat-card-content>

      <!-- ACTIONS SOUS LE TRAIT -->
      <mat-card-actions class="flex justify-end gap-2 p-0 m-0">
        <button
          mat-icon-button
          color="primary"
          [matTooltip]="'birthday_card.actions.edit' | transloco"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          [matTooltip]="'birthday_card.actions.delete' | transloco"
          (click)="deleteBirthday(item.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
