<aside
  class="sticky top-0 left-0 h-screen bg-white flex flex-col items-center transition-all duration-100 ease-in-out shadow-sm border-r border-gray-100"
  [class.w-16]="!expanded()"
  [class.px-4]="expanded()"
  [style.width]="expanded() ? '280px' : '5rem'"
>
  <div class="flex flex-col mt-10 w-full gap-2" *transloco="let t">
    
    <button
      type="button"
      class="flex items-center w-full hover:bg-gray-100 transition-colors rounded-lg bg-transparent border-none p-0 text-left"
      (click)="toggleSidebar()"
      [matTooltip]="!expanded() ? t('sidebar.menu') : ''"
      matTooltipPosition="right"
    >
      <div class="w-20 flex shrink-0 justify-center py-2">
        <mat-icon class="text-gray-600">menu</mat-icon>
      </div>
      @if (expanded()) {
        <span class="whitespace-nowrap font-medium text-gray-700">
          {{ t('sidebar.menu') }}
        </span>
      }
    </button>

    <button
      type="button"
      class="flex items-center w-full hover:bg-gray-100 transition-colors rounded-lg bg-transparent border-none p-0 text-left"
      (click)="onSetting()"
      [matTooltip]="!expanded() ? t('sidebar.settings') : ''"
      matTooltipPosition="right"
    >
      <div class="w-20 flex shrink-0 justify-center py-2">
        <mat-icon class="text-gray-600">settings</mat-icon>
      </div>
      @if (expanded()) {
        <span class="whitespace-nowrap font-medium text-gray-700">
          {{ t('sidebar.settings') }}
        </span>
      }
    </button>

    <button
      type="button"
      class="flex items-center w-full hover:bg-gray-100 transition-colors rounded-lg bg-transparent border-none p-0 text-left"
      (click)="onAddBirthday()"
      [matTooltip]="!expanded() ? t('sidebar.add_user') : ''"
      matTooltipPosition="right"
    >
      <div class="w-20 flex shrink-0 justify-center py-2">
        <mat-icon class="text-gray-600">person_add</mat-icon>
      </div>
      @if (expanded()) {
        <span class="whitespace-nowrap font-medium text-gray-700">
          {{ t('sidebar.add_user') }}
        </span>
      }
    </button>

    <button
      type="button"
      class="flex items-center w-full hover:bg-gray-100 transition-colors rounded-lg bg-transparent border-none p-0 text-left"
      (click)="onStatistics()"
      [matTooltip]="!expanded() ? t('sidebar.statistics') : ''"
      matTooltipPosition="right"
    >
      <div class="w-20 flex shrink-0 justify-center py-2">
        <mat-icon class="text-gray-600">bar_chart</mat-icon>
      </div>
      @if (expanded()) {
        <span class="whitespace-nowrap font-medium text-gray-700">
          {{ t('sidebar.statistics') }}
        </span>
      }
    </button>
    
    <button
      type="button"
      class="flex items-center w-full hover:bg-gray-100 transition-colors rounded-lg bg-transparent border-none p-0 text-left"
      (click)="onPricing()"
      [matTooltip]="!expanded() ? t('sidebar.pricing') : ''"
      matTooltipPosition="right"
    >
      <div class="w-20 flex shrink-0 justify-center py-2">
        <mat-icon class="text-gray-600">monetization_on</mat-icon>
      </div>
      @if (expanded()) {
        <span class="whitespace-nowrap font-medium text-gray-700">
          {{ t('sidebar.pricing') }}
        </span>
      }
    </button>
  </div>

  <div class="w-full p-4 mt-auto">
    <div class="flex flex-col items-center" *transloco="let t">
      <div class="flex items-center justify-center gap-2">
        <img
          src="time2wish-logo.png"
          alt="Logo"
          class="h-16 w-16 object-contain transition-transform duration-300"
          [class.hidden]="expanded()"
        />
        @if (expanded()) {
          <span class="text-lg font-semibold whitespace-nowrap transition-all duration-300">
            {{ t('sidebar.app_name') }}
          </span>
        }
      </div>
      @if (expanded()) {
        <div class="text-xs text-gray-500 whitespace-nowrap transition-all duration-300 mt-1">
          {{ t('sidebar.version') }} : {{ version() }}
        </div>
      }
    </div>
  </div>
</aside>