<div class="settings-modal p-4 max-w-xl mx-auto">
    <h2 class="text-xl font-bold flex items-center gap-2 mb-6">
      <mat-icon>settings</mat-icon>
      {{ 'setting.setting' | transloco}}
    </h2>

    <mat-accordion class="w-full">

      <!-- Section Notifications -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="flex items-center gap-2">
            <mat-icon>notifications</mat-icon>
            {{ 'setting.notifications.titel' | transloco }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="space-y-4 p-2">
          <mat-slide-toggle color="primary">
            {{ 'setting.notifications.allowNotifications' | transloco }}
          </mat-slide-toggle>

          <mat-slide-toggle color="primary" class="mr-12">
            {{ 'setting.notifications.birthdayReminders' | transloco }}
          </mat-slide-toggle>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label> {{ 'setting.notifications.reminderTime.titel' | transloco }}</mat-label>
            <mat-select>
              <mat-option value="morning">{{ 'setting.notifications.reminderTime.morning' | transloco }}</mat-option>
              <mat-option value="afternoon">{{ 'setting.notifications.reminderTime.afternoon' | transloco }}</mat-option>
              <mat-option value="evening">{{ 'setting.notifications.reminderTime.evening' | transloco }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <!-- Section Apparence -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="flex items-center gap-2">
            <mat-icon>palette</mat-icon>
            {{ 'setting.appearance.titel' | transloco }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="space-y-4 p-2">
          <mat-radio-group class="flex flex-col gap-2">
            <mat-radio-button value="light">{{ 'setting.appearance.light' | transloco }}</mat-radio-button>
            <mat-radio-button value="dark">{{ 'setting.appearance.dark' | transloco }}</mat-radio-button>
            <mat-radio-button value="system">{{ 'setting.appearance.system' | transloco }}</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'setting.appearance.textSize.titel' | transloco }}</mat-label>
            <mat-select>
              <mat-option value="small">{{ 'setting.appearance.textSize.small' | transloco }}</mat-option>
              <mat-option value="medium">{{ 'setting.appearance.textSize.medium' | transloco }}</mat-option>
              <mat-option value="large">{{ 'setting.appearance.textSize.large' | transloco }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Actions -->
    <div class="flex justify-end gap-2 mt-6 btn">
      <button mat-raised-button (click)="closeModal()" color="primary">
        Annuler
      </button>
      <button mat-raised-button color="primary">
        Enregistrer
      </button>
    </div>
  </div>
