<button
  mat-icon-button
  [matMenuTriggerFor]="languageMenu"
  class="!w-10 !h-10 relative flex items-center justify-center"
  [matTooltip]="'toolbar.language' | transloco"
>
  <mat-icon>translate</mat-icon>
  
  <div class="absolute top-0 right-0 transform translate-x-1/4 -translate-y-1/4">
    <img
      [src]="currentFlag"
      [alt]="currentLanguage()"
      class=" scale-65"
    />
  </div>
</button>

<mat-menu #languageMenu="matMenu" xPosition="before">
  @for (lang of languages; track lang.code) {
    <button
      mat-menu-item
      (click)="changeLanguage(lang.code)"
      [class.bg-blue-50]="currentLanguage() === lang.code"
    >
      <div class="flex items-center gap-3">
        <img
          [src]="lang.flag"
          width="20"
          height="15"
          [alt]="lang.name"
          class="rounded-sm shadow-sm"
        />
        <span class="text-sm" [class.font-semibold]="currentLanguage() === lang.code">
          {{ "toolbar.languages." + lang.code | transloco }}
        </span>
        
        @if (currentLanguage() === lang.code) {
          <mat-icon class="ml-auto !text-sm text-blue-500">check</mat-icon>
        }
      </div>
    </button>
  }
</mat-menu>