<div class="notification p-2 max-h-[70vh] flex flex-col">
  <!-- Header -->
  <div class="flex justify-between items-center p-4 border-b border-gray-200">
    <h3 class="text-lg font-semibold flex items-center gap-2">
      <mat-icon>notifications</mat-icon>
      Notifications
    </h3>
    <button mat-button (click)="notificationService.markAllAsRead()">
      Tout marquer comme lu
    </button>
  </div>

  <!-- Liste -->
  <div class="overflow-y-auto flex-grow">
    @for (notif of notificationService.notifications$ | async; track $index) {
    <div
      class="p-4 border-b border-gray-100 hover:bg-gray-50 transition-colors"
      [class.bg-blue-50]="!notif.read"
    >
      <div class="flex items-start gap-3">
        <div class="flex-grow">
          <!-- Ligne : titre + temps + cercle -->
          <div class="flex justify-between items-center gap-3 w-full">
            <!-- Icône -->
            <mat-icon class="text-blue-500 text-lg mb-5">{{
              notif.icon
            }}</mat-icon>
            <div>
              <h4 class="font-medium mb-1">{{ notif.title }}</h4>
              <!-- Message juste en dessous du titre -->
              <p class="text-sm text-gray-600">{{ notif.message }}</p>
            </div>

            <div class="flex gap-2">
              <span class="text-xs text-gray-500 whitespace-nowrap">{{
                getTimeAgo(notif.date)
              }}</span>
              <button
                mat-icon-button
                class="p-0 h-4 w-4"
                (click)="notificationService.markAsRead(notif.id)"
              >
                <mat-icon class="!text-xs leading-none">circle</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    }
  </div>

  <!-- Footer -->
  <div class="p-2 border-t border-gray-200 text-center">
    <button mat-button color="primary" class="!text-sm">
      Voir toutes les notifications
    </button>
  </div>
</div>
