<div
  class="h-screen bg-cover bg-center bg-fixed flex items-center justify-center"
  style="
    background-image: url('https://images.unsplash.com/photo-1482731910308-31e96e5d1d28?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  "
>
  <div
    class="bg-white rounded-2xl shadow-lg flex flex-col-reverse md:flex-row max-w-4xl w-full mx-4 md:mx-0"
  >
    <!-- Section gauche (en bas sur mobile, à gauche sur desktop) -->
    <div
      class="bg-blue-500 text-white p-8 rounded-b-2xl md:rounded-l-2xl md:rounded-br-none md:w-1/2 flex flex-col justify-center"
    >
      <h1 class="text-3xl font-bold mb-4 text-center">{{ 'login.welcome' | transloco }}</h1>
      <p class="text-sm text-justify">
        {{ 'login.description' | transloco }}
      </p>
    </div>

    <!-- Section droite (en haut sur mobile, à droite sur desktop) -->
    <div class="p-8 md:w-1/2 flex flex-col items-center justify-center">
      <img
        src="time2wish-logo.png"
        width="160"
        height="160"
        alt="logo time2wish"
      />

      <form (ngSubmit)="onLogin(email.value, password.value)" class="w-full">
        <!-- Email Field -->
        <mat-form-field appearance="outline" class="w-full mb-4">
          <mat-label>Email</mat-label>
          <input matInput #email type="email" placeholder="Email" required>
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field appearance="outline" class="w-full mb-4">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput #password [type]="hidePassword ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <!-- Login Button -->
        <button mat-raised-button color="primary" class="w-full py-2" type="submit" [disabled]="isLoading">
          @if (!isLoading) {
            <span>Login</span>
          }@else {
            <span>Connexion...</span>
          }
        </button>

        <!-- Error Message -->
      <div *ngIf="errorMessage" class="text-red-500 text-center">
        {{ errorMessage }}
      </div>

        
      </form>

      <div class="text-sm text-center mt-4">
        <a (click)="openPasswordReset()" class="text-blue-500 cursor-pointer hover:underline">
          Forgotten password?
        </a>
      </div>

      <div class="text-sm text-center mt-2">
        <span>Don't have an account yet?</span>
        <a (click)="openRegister()" class="text-blue-500 cursor-pointer hover:underline"> Sign up</a>
      </div>
    </div>
  </div>
</div>