<app-landing-page-view
  [viewMode]="viewMode()"
  [activeButton]="activeButton()"
  [searchQuery]="searchQuery()"
  [isDarkTheme]="isDarkTheme()"
  [isLoading]="isLoading()"
  [currentDate]="currentDate()"
  [suggestions]="suggestions()"
  [advancedFilterColumn]="advancedFilter().column"
  [availableColumns]="availableColumns"
  [unreadNotifications]="notificationService.unreadCount()"
  [currentUser]="authService.currentUser()"
  [hasBirthdays]="hasBirthdays()"
  [filteredBirthdays]="filteredBirthdays()"
  (searchChange)="updateSearch($event)"
  (clearSearch)="updateSearch('')"
  (advancedFilterChange)="updateAdvancedFilter($event)"
  (themeToggle)="toggleTheme()"
  (notificationOpen)="onNotification()"
  (viewToggle)="toggleView($event)"
  (informationOpen)="onInformation()"
  (profileOpen)="onProfil()"
  (activityLogsOpen)="openActivityLogs()"
  (logout)="onLogout()"
  (activeButtonChange)="setActiveButton($event)"
  (birthdayEdit)="editBirthday()"
  (birthdayDelete)="deleteBirthday($event)"
  (birthdayDetails)="openBirthdayDetails($event)"
  (refresh)="handleRefresh()"
  (suggestionSelected)="updateSearch($event)"
></app-landing-page-view>
