<div class="flex flex-col min-h-0 max-h-full overflow-hidden">
  <div  class=" flex-1 overflow-y-auto mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="w-full">
      <!-- Colonne Photo (non triable) -->
      <ng-container matColumnDef="photo">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="bg-gray-50 font-semibold text-gray-700"
        >
          {{ "birthday_table.photo" | transloco }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-gray-600 border-t border-gray-200"
        >
          @if (element.photo) {
          <img
            [src]="element.photo"
            class="w-10 h-10 rounded-full object-cover"
            alt="Profile"
          />
          } @else {
            <mat-icon role="img" class="object-cover iconSize"
                      aria-hidden="true"
                      data-mat-icon-type="font">
                      account_circle
            </mat-icon>
          }
        </td>
      </ng-container>

      <!-- Colonne Name (triable) -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-50 font-semibold text-gray-700"
        >
          {{ "birthday_table.name" | transloco }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-gray-600 border-t border-gray-200"
        >
          <button mat-button (click)="openBirthdayDetails(element)">
            {{ element.name }}
          </button>
        </td>
      </ng-container>

      <!-- Colonne City (triable) -->
      <ng-container matColumnDef="city">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-50 font-semibold text-gray-700"
        >
          {{ "birthday_table.city" | transloco }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-gray-600 border-t border-gray-200"
        >
          {{ element.city | transloco }}
        </td>
      </ng-container>

      <!-- Colonne Category (triable) -->
      <ng-container matColumnDef="category">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-50 font-semibold text-gray-700"
        >
          {{ "birthday_table.category" | transloco }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-gray-600 border-t border-gray-200"
        >
          {{ element.category | transloco }}
        </td>
      </ng-container>

      <!-- Colonne Date (triable) -->
      <ng-container matColumnDef="date">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-50 font-semibold text-gray-700"
        >
          {{ "birthday_table.date" | transloco }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-gray-600 border-t border-gray-200"
        >
          {{ element.date | date : "dd.MM.yyyy" }}
        </td>
      </ng-container>

      <!-- Colonne Age (triable) -->
      <ng-container matColumnDef="age">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-50 font-semibold text-gray-700"
        >
          {{ "birthday_table.age" | transloco }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-gray-600 border-t border-gray-200"
        >
          <div class="flex items-center gap-1">
            <mat-icon class="!text-base !text-yellow-500">cake</mat-icon>
            <span>{{ calculateAge(element.date) }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Colonne Status (triable) -->
      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-gray-50 font-semibold text-gray-700"
        >
          {{ "birthday_table.status" | transloco }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-gray-600 border-t border-gray-200"
        >
          <div
            class="flex items-center gap-1"
            [ngClass]="getBirthdayStatus(element.date).color"
          >
            <mat-icon class="!text-base">{{
              getBirthdayStatus(element.date).icon
            }}</mat-icon>
            <span>{{ getBirthdayStatus(element.date).text | transloco }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Colonne Action (non triable) -->
      <ng-container matColumnDef="action">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="bg-gray-50 font-semibold text-gray-700"
        >
          {{ "birthday_table.action" | transloco }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-gray-600 border-t border-gray-200"
        >
          <div class="flex gap-2">
            <button mat-icon-button color="primary" (click)="editBirthday(element)">
              <mat-icon matTooltip="{{ 'birthday_table.edit' | transloco }}"
                >edit</mat-icon
              >
            </button>
            <button mat-icon-button color="warn">
              <mat-icon
                matTooltip="{{ 'birthday_table.delete' | transloco }}"
                (click)="deleteBirthday(element.id)"
              >
                delete
              </mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
    aria-label="Select page of birthdays"
    class="border-t"
  >
  </mat-paginator>
</div>
